# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
/Debug/
.settings

# Clion
/voxblox/.idea
/voxblox/cmake-build-debug
/voxblox/build

/voxblox_ros/.idea
/voxblox_ros/cmake-build-debug
/voxblox_ros/build

/build
/.vscode

# Python (for lint)
*.pyc

# Temporary files
*~

# Mac 
.DS_Store

# Mesh results
mesh_results

# Tools
autolintc

# Documentation
docs/_build
docs/doxyoutput
docs/api
